.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
  scale: 0.7 !important;
}
.swiper-pagination-bullet-active {
  background: black !important;
}
.swiper-slide {
  opacity: 0 !important;
  transition: opacity 1s ease-out !important;
}

.swiper-slide-active {
  opacity: 1 !important;
}
