.swiper-pagination-bullet-active {
  background: black !important;
}
.swiper-slide {
  opacity: 0 !important;
  transition: opacity 1s ease-out !important;
}

.swiper-slide-active {
  opacity: 1 !important;
}
