.img-full-pagination {
  position: absolute;
  bottom: 0px !important;
  z-index: 50;
  text-align: center;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-full-swiper-bullet {
  opacity: 0.9;
  cursor: pointer;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.537);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: inline-block;
}
.img-fulll-swiper-bullet-active {
  background-color: white;
}
.img-full-swiper-bullet:not(:last-of-type) {
  margin-right: 8px;
}
